/* Pricing Tables */

.radium-price-column button.signup, 
.radium-price-column.button.signup, 
.radium-price-column .btn.signup { 
 	margin-top: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px ;
	border-radius: 5px;
	margin: 10px 0 0 0;
	}
   
.radium-price-column { 
	background: white;
 	margin: 20px 10px ;
 	float: left;
	width: 210px;
 	text-align: center;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
 	text-shadow: none;
    }

.radium-price-column.first-column {
	margin-left: 0;
	}
	
.radium-price-column.last-column {
	margin-right: 0;
	}
			   	
.radium-price-column p { 
	padding: 0 0;
	margin: 0 0; 
	background-color: #ECEEF1;
	}
	
.radium-price-column .column-title {
	font-weight: bold;
	text-align: center;
	background-color: #1e2224;
	padding: 15px 10px;
	margin-bottom: 0;
	font-weight: 600;
	color: #E6E8EB;
	line-height: normal;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	}

.radium-price-column .column-title > span { }

.radium-price-column .column-title span span { padding: 0 5px; }

.radium-price-column .price-info {
	color: #1e2224;
	font-size: 20px;
	font-family: georgia;
	font-weight: bold;
	display: block;
	padding: 11px 0;
	text-align: center;
	margin-bottom: 15px;
	}

.radium-price-column .price-info .cost {
	font-size: 26px;
	line-height: 28px;
	}
	
.radium-price-column .price-info .details {
	font-style: italic;
	font-weight: normal;
	color: #9E9E9E;
	padding-top: 2px;
	padding-left: 5px;
	}
	
.radium-price-column .signup {}
		
.radium-price-column .last-divider{
	background-color: #eaecef;
	font-weight: 600;
	color: #515151;
	line-height: normal;
	height: 10px;
	padding-top: 20px;
	width: 100%;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius:0 0 5px 5px;
	}
		
.radium-price-column .price-table .highlight-column { }

.radium-price-column .price-table .highlight-column .column-title {	}

.radium-price-column .price-table .highlight-column .cost { }
  	
.radium-price-column.last-column { }

.radium-price-column .features {
	font-size: 12px;
	margin: 0 0 0 0;
	background: #ECEEF1;
	padding: 20px 30px;
	}
  
.radium-price-column .pricetable-feature {
  	color: #55606E;
  	font: 13px/28px "Helvetica Neue",Helvetica,Arial,Sans-serif;
  	text-align: left;
	}
	    
.pricetable-button-container{
	background: #ECEEF1;
	}